<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Awaiken Theme">
    <!-- Page Title -->
    <title>The Coffee Shop</title>
    <!-- Google Fonts css-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900%7CPlayfair+Display:400,700,900" rel="stylesheet">
    <!-- Bootstrap css -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- Font Awesome icon css-->
    <link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="css/pe-icon-7-stroke.css" rel="stylesheet" media="screen">
    <link href="css/flaticon.css" rel="stylesheet" media="screen">
    <!-- Carousel css -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <!-- Magnific Popup CSS -->
    <link href="css/magnific-popup.css" rel="stylesheet">
    <!-- Slick nav css -->
    <link rel="stylesheet" href="css/slicknav.css">
    <!-- Grid Gallery css -->
    <link rel="stylesheet" data-template-style="true" type="text/css" href="css/CSTiles-1.1.0.css">
    <!-- Main custom css -->
    <link href="css/custom.css" rel="stylesheet" media="screen">

</head>

<body data-spy="scroll" data-target="#navigation" data-offset="75">
    <!-- Preloader starts -->
    <div class="preloader">
        <div class="browser-screen-loading-content">
            <div class="loading-dots dark-gray">
                <img src="images/puff.svg" alt="Preloader" />
            </div>
        </div>
    </div>
    <!-- Preloader Ends -->

    <!-- Header Section Starts-->
    <header>
        <nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <!-- Logo starts -->
                    <a class="navbar-brand" href="#">
                        <img src="images/logo.png" alt="Logo" />
                    </a>
                    <!-- Logo Ends -->

                    <!-- Responsive Menu button starts -->
                    <div class="navbar-toggle">
                    </div>
                    <!-- Responsive Menu button Ends -->
                </div>

                <div id="responsive-menu"></div>

                <!-- Navigation starts -->
                <div class="navbar-collapse collapse" id="navigation">
                    <ul class="nav navbar-nav navbar-right main-navigation" id="main-menu">
                        <li class="active"><a href="Home">Home</a></li>
                        <li><a href="About">About</a></li>
                        <!-- <li><a href="#service">Services</a></li>
						<li><a href="#price">Pricing</a></li> -->
                        <li><a href="#gallery">Gallery</a></li>
                        <!-- <li><a href="#testimonial">Testimonial</a></li> -->
                        <li><a href="Contact">Contact</a></li>
                        <li><a href="Login">Login</a></li>
                    </ul>
                </div>
                <!-- Navigation Ends -->
            </div>
        </nav>
    </header>
    <!-- Header Section Ends-->

    <!-- Banner Section Starts -->
    <section class="banner" id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="banner-desc">
                        <p>Welcome The Coffee Shop</p>
                        <h2>Highest Quality Coffee shop</h2>
                        <!-- <div class="btn-intro">
                            <a href="https://www.youtube.com/watch?v=Q6dsRpVyyWs" class="popup-video">
                                <div class="icon-box"><i class="fa fa-play"></i></div>
                                Quick Tour
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section Ends -->





    <!-- Contact us section starts -->
    <section class="contactus" id="contact">
        <div class="google-map">




        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-box">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="contact-info">
                                    <div class="contact-image">
                                        <img src="images/contact.png" alt="" />
                                    </div>

                                    <!-- <div class="contact-information">
                                        <div class="contact-info-single">
                                            <div class="icon-box"><i class="pe-7s-map-marker"></i></div>
                                            <p>1000 Saint-Catherine Street West, <br /> Montreal, Quebec<br/> H3B 5L2</p>




                                        </div>

                                        <div class="contact-info-single">
                                            <div class="icon-box"><i class="pe-7s-call"></i></div>
                                            <p>Tel: (514) 600-0726<br /> Tel: (514) 600-0727</p>
                                        </div>

                                        <div class="contact-info-single">
                                            <div class="icon-box"><i class="pe-7s-mail"></i></div>
                                            <p>info@coffeeshop.com<br /> sales@coffeeshop.com
                                            </p>
                                        </div>
                                    </div> -->
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="contact-form">
                                    <div class="main-title">
                                        <p>Enter your Details</p>
                                        <h2>Admin Login</h2>
                                    </div>

                                    <!-- <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="ENTER USER NAME" />
                                        </div>

                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="ENTER  PASSWORD" />
                                        </div>

                                      

                                        <div class="form-group">
                                            <input type="submit" class="btn-custom" value="Submit" />
                                        </div>
                                    </form> -->

                                    <div id="content">
                                        <%
                                        if(alert=="failed")
                                        {
                                            %>
                                            <span style="text-align:center;color:rgb(221, 14, 14);font-size:20px">User name or password id wrong</span>
                                            <%
                                        }
                                      %>

                                                <table align="center">

                                                    <form action="ALoginCheck" method="POST">
                                                        <tr>
                                                            <td> Username: </td>
                                                            <td><input class="form-control" style="color:blue" type="text" name="username" size="20" maxlength="15" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                password:</td>
                                                            <td>
                                                                <input class="form-control" type="password" name="password" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan=2 align="center"><input class="btn-custom" type="submit" /></td>
                                                        </tr>

                                                    </form>
                                                </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact us section ends -->

    <!-- Footer section starts -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="siteinfo">
                        <p>Copyright &copy; Untitled. All rights reserved. Design By <a href="#" target="_blank">The Coffee Shop</a> </p>
                    </div>



                    <div class="footer-social">
                        <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.pinterest.co.uk/"><i class="fa fa-pinterest-p"></i></a>
                        <a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>

                        <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section ends -->

    <!-- Jquery Library File -->
    <script src="js/jquery-1.12.4.min.js"></script>
    <!-- SmoothScroll -->
    <script src="js/SmoothScroll.js"></script>
    <!-- Bootstrap js file -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <!-- Slick Nav js file -->
    <script src="js/jquery.slicknav.js"></script>
    <!-- Magnific Popup js file -->
    <script src="js/jquery.magnific-popup.js"></script>
    <!-- Owl Carousel js file -->
    <script src="js/owl.carousel.js"></script>
    <!-- CS Tiles Gallery js file -->
    <script src="js/jquery.CSTiles-1.1.0.min.js"></script>
    <!-- Main Custom js file -->
    <script src="js/function.js"></script>
</body>

</html>