<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Awaiken Theme">
    <!-- Page Title -->
    <title>The Coffee Shop</title>
    <!-- Google Fonts css-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900%7CPlayfair+Display:400,700,900" rel="stylesheet">
    <!-- Bootstrap css -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- Font Awesome icon css-->
    <link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="css/pe-icon-7-stroke.css" rel="stylesheet" media="screen">
    <link href="css/flaticon.css" rel="stylesheet" media="screen">
    <!-- Carousel css -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <!-- Magnific Popup CSS -->
    <link href="css/magnific-popup.css" rel="stylesheet">
    <!-- Slick nav css -->
    <link rel="stylesheet" href="css/slicknav.css">
    <!-- Grid Gallery css -->
    <link rel="stylesheet" data-template-style="true" type="text/css" href="css/CSTiles-1.1.0.css">
    <!-- Main custom css -->
    <link href="css/custom.css" rel="stylesheet" media="screen">

</head>

<body data-spy="scroll" data-target="#navigation" data-offset="75">
    <!-- Preloader starts -->
    <div class="preloader">
        <div class="browser-screen-loading-content">
            <div class="loading-dots dark-gray">
                <img src="images/puff.svg" alt="Preloader" />
            </div>
        </div>
    </div>
    <!-- Preloader Ends -->

    <!-- Header Section Starts-->
    <header>
        <nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <!-- Logo starts -->
                    <a class="navbar-brand" href="#">
                        <img src="images/logo.png" alt="Logo" />
                    </a>
                    <!-- Logo Ends -->

                    <!-- Responsive Menu button starts -->
                    <div class="navbar-toggle">
                    </div>
                    <!-- Responsive Menu button Ends -->
                </div>

                <div id="responsive-menu"></div>

                <!-- Navigation starts -->
                <div class="navbar-collapse collapse" id="navigation">
                    <ul class="nav navbar-nav navbar-right main-navigation" id="main-menu">
                        <li class="active"><a href="Home">Home</a></li>
                        <li><a href="About">About</a></li>
                        <!-- <li><a href="#service">Services</a></li>
						<li><a href="#price">Pricing</a></li> -->
                        <li><a href="Gallery">Gallery</a></li>
                        <!-- <li><a href="#testimonial">Testimonial</a></li> -->
                        <li><a href="Contact">Contact</a></li>
                        <li><a href="Login">Login</a></li>
                        <li> <a href="AdminLogin">Admin Login</a></li>
                    </ul>
                </div>
                <!-- Navigation Ends -->
            </div>
        </nav>
    </header>
    <!-- Header Section Ends-->

    <!-- Banner Section Starts -->
    <section class="banner" id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="banner-desc">
                        <p>Welcome The Coffee Shop</p>
                        <h2>Highest Quality Coffee shop</h2>
                        <div class="btn-intro">
                            <a href="https://www.youtube.com/watch?v=OrcHQ6GGVaA" class="popup-video">
                                <div class="icon-box"><i class="fa fa-play"></i></div>
                                Quick Tour
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section Ends -->

    <!-- History Box starts -->
    <section class="history" id="aboutus">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <div class="history-single">
                        <div class="main-title">
                            <p>Estd 1947</p>
                            <h2>The History</h2>
                        </div>

                        <div class="history-desc">
                            <p>
                                Since 2008, Cafe Myriade has become a landmark for serving some of the finest hand crafted coffee beverages in Montreal. With numerous accolades, our multiple locations continue to source some of the finest coffee roasters to ensure we provide a memorable
                                experience.
                            </p>
                            <p>
                                We are a handful of coffee shops in Montreal working with 49th Parallel Roasters since 2008. Since Feb. 2020 a majority of our baked goods are now made in house in our new Mont-Royal location while we also continue to receive our freshly baked croissants
                                from Hof Kelsten. There isn’t a right or wrong approach to trying to make coffee better, and we learn new things about brewing all the time. More than anything, we have fun and don’t take ourselves too seriously. We make
                                pretty good coffee and sometimes we play really bad music but it’s also usually pretty good.
                            </p>
                            <!-- <a href="#" class="btn-custom">View Full Story</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- History Box ends -->

    <!-- Services section starts -->
    <section class="services" id="service">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title">
                        <p>Best Service Ever</p>
                        <h2>Who we are</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-md-offset-3 col-sm-4">
                    <div class="service-single">
                        <div class="icon-box"><i class="flaticon-chef"></i></div>
                        <h3>Professional Service</h3>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4">
                    <div class="service-single">
                        <div class="icon-box"><i class="flaticon-recipe"></i></div>
                        <h3>Various Menu</h3>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4">
                    <div class="service-single">
                        <div class="icon-box"><i class="flaticon-coffee-cup"></i></div>
                        <h3>Fresh Coffee</h3>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Services section ends -->

    <!-- Pricing Menu section starts -->
    <section class="pricing" id="price">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title">
                        <p>Best Service Ever</p>
                        <h2>Affordable Pricing</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="price-single">
                        <div class="price-list">
                            <div class="price-item">Cold Coffee</div>
                            <!-- <div class="price-line"></div> -->
                            <div class="price-amount">$20</div>
                        </div>

                        <!-- <p class="new-product">Singnature Lorem Ispum tagline goes here</p> -->
                    </div>

                    <div class="price-single">
                        <div class="price-list">
                            <div class="price-item">Mocha </div>
                            <!-- <div class="price-line"></div> -->
                            <div class="price-amount">$50</div>
                        </div>

                        <!-- <p class="new-product">Singnature Lorem Ispum tagline goes here</p> -->
                    </div>

                    <div class="price-single">
                        <div class="price-list">
                            <div class="price-item"> Latte</div>
                            <!-- <div class="price-line"></div> -->
                            <div class="price-amount">$10</div>
                        </div>

                        <!-- <p class="new-product">Singnature Lorem Ispum tagline goes here</p> -->
                    </div>

                    <div class="price-single">
                        <div class="price-list">
                            <div class="price-item"> Cappichuno</div>
                            <!-- <div class="price-line"></div> -->
                            <div class="price-amount">$30</div>
                        </div>

                        <!-- <p class="new-product">Singnature Lorem Ispum tagline goes here</p> -->
                    </div>

                    <div class="price-single">
                        <div class="price-list">
                            <div class="price-item">Black Coffee</div>
                            <!-- <div class="price-line"></div> -->
                            <div class="price-amount">$20</div>
                        </div>

                        <!-- <p class="new-product">Singnature Lorem Ispum tagline goes here</p> -->
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="price-single">
                        <div class="price-list">
                            <div class="price-item"> Expresso</div>
                            <!-- <div class="price-line"></div> -->
                            <div class="price-amount">$60</div>
                        </div>

                        <!-- <p class="new-product">Singnature Lorem Ispum tagline goes here</p> -->
                    </div>

                    <div class="price-single">
                        <div class="price-list">
                            <div class="price-item"> Expresso Triple Shot</div>
                            <!-- <div class="price-line"></div> -->
                            <div class="price-amount">$40</div>
                        </div>

                        <!-- <p class="new-product">Singnature Lorem Ispum tagline goes here</p> -->
                    </div>

                    <div class="price-single">
                        <div class="price-list">
                            <div class="price-item"> Cold Brew Coffee</div>
                            <!-- <div class="price-line"></div> -->
                            <div class="price-amount">$40</div>
                        </div>
                        <!-- 
                        <p class="new-product">Singnature Lorem Ispum tagline goes here</p> -->
                    </div>

                    <div class="price-single">
                        <div class="price-list">
                            <div class="price-item"> Flat White Coffee</div>
                            <!-- <div class="price-line"></div> -->
                            <div class="price-amount">$30</div>
                        </div>

                        <!-- <p class="new-product">Singnature Lorem Ispum tagline goes here</p> -->
                    </div>

                    <div class="price-single">
                        <div class="price-list">
                            <div class="price-item">Iced Latte</div>
                            <!-- <div class="price-line"></div> -->
                            <div class="price-amount">$20</div>
                        </div>

                        <!-- <p class="new-product">Singnature Lorem Ispum tagline goes here</p> -->
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Pricing Menu section ends -->

    <!-- Photo Gallery Section starts -->
    <section class="gallery" id="gallery">
        <div class="container-fluid">
            <div class="row no-pad">
                <div class="col-md-12">
                    <div class="main-title">
                        <p>See the Celebration</p>
                        <h2>Photo Gallery</h2>
                    </div>
                </div>
            </div>

            <div class="row no-pad">
                <div class="col-md-12">
                    <div class="gallery-image-box">
                        <div class="cstiles" data-cstiles-size="4,auto" data-cstiles-margin="4">
                            <div class="cstiles__item" data-cstiles-size="2">
                                <img class="cstiles__item-image" src="images/gallery-1.jpg" alt=" ">
                                <div class="gallery-overlay">
                                    <a href="images/gallery-1.jpg"><i class="pe-7s-plus"></i></a>
                                </div>
                            </div>
                            <div class="cstiles__item" data-cstiles-size="1">
                                <img class="cstiles__item-image" src="images/gallery-10.jpg" alt=" ">
                                <div class="gallery-overlay">
                                    <a href="images/gallery-10.jpg"><i class="pe-7s-plus"></i></a>
                                </div>
                            </div>
                            <div class="cstiles__item" data-cstiles-size="1,2">
                                <img class="cstiles__item-image" src="images/gallery-2.jpg" alt=" ">
                                <div class="gallery-overlay">
                                    <a href="images/gallery-2.jpg"><i class="pe-7s-plus"></i></a>
                                </div>
                            </div>
                            <div class="cstiles__item" data-cstiles-size="1" data-cstiles-order="1" data-cstiles-order-tablet="1">
                                <img class="cstiles__item-image" src="images/gallery-3.jpg" alt=" ">
                                <div class="gallery-overlay">
                                    <a href="images/gallery-3.jpg"><i class="pe-7s-plus"></i></a>
                                </div>
                            </div>
                            <div class="cstiles__item" data-cstiles-size="2,1" data-cstiles-order="2" data-cstiles-order-tablet="2" data-cstiles-image_position="left,bottom">
                                <img class="cstiles__item-image" src="images/gallery-4.jpg" alt=" ">
                                <div class="gallery-overlay">
                                    <a href="images/gallery-4.jpg"><i class="pe-7s-plus"></i></a>
                                </div>
                            </div>
                            <div class="cstiles__item" data-cstiles-size="1">
                                <img class="cstiles__item-image" src="images/gallery-5.jpg" alt=" ">
                                <div class="gallery-overlay">
                                    <a href="images/gallery-5.jpg"><i class="pe-7s-plus"></i></a>
                                </div>
                            </div>
                            <div class="cstiles__item" data-cstiles-size="1">
                                <img class="cstiles__item-image" src="images/gallery-6.jpg" alt=" ">
                                <div class="gallery-overlay">
                                    <a href="images/gallery-6.jpg"><i class="pe-7s-plus"></i></a>
                                </div>
                            </div>
                            <div class="cstiles__item" data-cstiles-size="2,1">
                                <img class="cstiles__item-image" src="images/gallery-7.jpg" alt=" ">
                                <div class="gallery-overlay">
                                    <a href="images/gallery-7.jpg"><i class="pe-7s-plus"></i></a>
                                </div>
                            </div>
                            <div class="cstiles__item" data-cstiles-size="1">
                                <img class="cstiles__item-image" src="images/gallery-8.jpg" alt=" ">
                                <div class="gallery-overlay">
                                    <a href="images/gallery-8.jpg"><i class="pe-7s-plus"></i></a>
                                </div>
                            </div>
                            <div class="cstiles__item" data-cstiles-size="1">
                                <img class="cstiles__item-image" src="images/gallery-9.jpg" alt=" ">
                                <div class="gallery-overlay">
                                    <a href="images/gallery-9.jpg"><i class="pe-7s-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Photo Gallery Section ends -->

    <!-- Customer Review section starts -->
    <section class="testimonial" id="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title">
                        <p>Best Service Ever</p>
                        <h2>Affordable Pricing</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme testimonial-slider" id="testimonial-slider">
                        <div class="item">
                            <div class="testimonial-single">
                                <p>"The best coffee ever , it is a beverage that puts one to sleep when not drank. "</p>
                                <h3>Neptune</h3>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="testimonial-single">
                                <p>"Cofee and gatorade, it's a hell of a mix. If you're ever tired in the morning, just try that mix, and tell me what you think"</p>
                                <h3>Pluto</h3>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="testimonial-single">
                                <p>"When I wake up in the morning, I just can't get started until I've had that first, piping hot pot of shakes."</p>
                                <h3>Jupiter</h3>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Customer Review section ends -->

    <!-- Contact us section starts -->
    <!-- <section class="contactus" id="contact">
        <div class="google-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d29535.61399989554!2d70.78083495!3d22.2798175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1505224537861" style="border:0"></iframe>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-box">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="contact-info">
                                    <div class="contact-image">
                                        <img src="images/contact.png" alt="" />
                                    </div>

                                    <div class="contact-information">
                                        <div class="contact-info-single">
                                            <div class="icon-box"><i class="pe-7s-map-marker"></i></div>
                                            <p>1000 Saint-Catherine Street West, <br /> Montreal, Quebec<br/> H3B 5L2</p>









                                        </div>

                                        <div class="contact-info-single">
                                            <div class="icon-box"><i class="pe-7s-call"></i></div>
                                            <p>Tel: (514) 600-0726<br /> Tel: (514) 600-0727</p>
                                        </div>

                                        <div class="contact-info-single">
                                            <div class="icon-box"><i class="pe-7s-mail"></i></div>
                                            <p>info@coffeeshop.com<br /> sales@coffeeshop.com
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="contact-form">
                                    <div class="main-title">
                                        <p>Enter your Details</p>
                                        <h2>Get in touch</h2>
                                    </div>

                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="ENTER YOUR NAME" />
                                        </div>

                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="ENTER YOUR EMAIL" />
                                        </div>

                                        <div class="form-group">
                                            <textarea class="form-control" rows="5" placeholder="WRITE YOUR MESSAGE HERE"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <input type="submit" class="btn-custom" value="Submit" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Contact us section ends -->

    <!-- Footer section starts -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="siteinfo">
                        <p>Copyright &copy; Untitled. All rights reserved. Design By <a href="#" target="_blank">The Coffee Shop</a> </p>
                    </div>



                    <div class="footer-social">
                        <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.pinterest.co.uk/"><i class="fa fa-pinterest-p"></i></a>
                        <a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>

                        <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section ends -->

    <!-- Jquery Library File -->
    <script src="js/jquery-1.12.4.min.js"></script>
    <!-- SmoothScroll -->
    <script src="js/SmoothScroll.js"></script>
    <!-- Bootstrap js file -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <!-- Slick Nav js file -->
    <script src="js/jquery.slicknav.js"></script>
    <!-- Magnific Popup js file -->
    <script src="js/jquery.magnific-popup.js"></script>
    <!-- Owl Carousel js file -->
    <script src="js/owl.carousel.js"></script>
    <!-- CS Tiles Gallery js file -->
    <script src="js/jquery.CSTiles-1.1.0.min.js"></script>
    <!-- Main Custom js file -->
    <script src="js/function.js"></script>
</body>

</html>